{
    "trailingComma": "es5",
    "tabWidth": 2,
    "semi": true,
    "singleQuote": false,
    "importOrder": [
      "^@core/(.*)$",
      "<THIRD_PARTY_MODULES>",
      "^@server/(.*)$",
      "^@ui/(.*)$",
      "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "plugins": ["@trivago/prettier-plugin-sort-imports"]
  }