name: Preview in vercel
on:
  pull_request:
    branches:
      - main
    paths:
      - "frontend/**"

permissions:
  contents: read
  statuses: write

env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
  NEXT_PUBLIC_API_BASE_URL: ${{ vars.BASE_API_URL }}

jobs:
  Deploy-Preview:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend
    steps:
      - uses: actions/checkout@v4
      - name: Install Vercel CLI
        run: bun install --global vercel@latest
      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=preview --token=${{ secrets.VERCEL_TOKEN }}
      - name: Build Project Artifacts
        run: vercel build --token=${{ secrets.VERCEL_TOKEN }}
      - name: Deploy Project Artifacts to Vercel
        run: vercel deploy --prebuilt --token=${{ secrets.VERCEL_TOKEN }}
      - name: Pass Vercel URL to Next.js
        run: |
          echo "Deployed the app on: $(vercel url --token=${{ secrets.VERCEL_TOKEN }})" >> $GITHUB_STEP_SUMMARY
